@{
    ViewBag.Title = "Load";
}
<style>
    .mapImg {
        background-image: url(/Images/export-map-share.png);
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    #myCanvas {
        width: 100%;
        height: 100%;
    }

    .flightinfo {
        position: absolute;
        color: white;
        font-size: 150%;
        top: 60px;
        left: 90px;
    }

    .flightinfotitle {
        font-size: 180%;
        font-family: 'Cooper Black';
        text-shadow: 2px 2px 5px black;
    }
</style>
<div class="mapImg" id="d">
    <canvas id="myCanvas"></canvas>
</div>
<div class="flightinfo">
    <div class="flightinfotitle">Altitude: <span id="alt"></span></div>
    
    <div class="flightinfotitle">Speed: <span id="speed"></span></div>
   
</div>


<script>

    var canvas = document.getElementById("myCanvas");
    var ctx = canvas.getContext("2d");

    var lat, lon

    var IntervalTime = @Session["perSec"] * 1000
    var prevLat, prevLon
    var x, y

    $.getJSON("@Url.Action("LoadValuesFromFile")").done(function (data) {

        lon = ((data.x + 180) / 360) * canvas.width;
        lat = ((data.y + 90) / 180) * canvas.height;
        prevLon = lon;
        prevLat = lat;

        ctx.beginPath();
        ctx.fillStyle = "#000080";
        ctx.arc(lon, lat, 2, 0, 2 * Math.PI, true);
        ctx.fill();
        ctx.beginPath();
        ctx.fillStyle = "red";
        ctx.arc(lon, lat, 1, 0, 2 * Math.PI, true);
        ctx.fill();

        document.getElementById("alt").innerHTML = data.z;
        document.getElementById("speed").innerHTML = data.w;

        ctx.lineWidth = 1;
        ctx.strokeStyle = "red";
        ctx.beginPath();
        ctx.moveTo(lon, lat);
        x = lon
        y = lat
        var startTime = new Date().getTime();
        id= setInterval(myTimer, IntervalTime);
        function myTimer() {
            $.getJSON("@Url.Action("LoadValuesFromFile")").done(function (data) {
                if (data.length==1) {
                    alert("The scenario is over!");
                    clearInterval(id);
                    return;
                }
                document.getElementById("alt").innerHTML = data.z;
                document.getElementById("speed").innerHTML = data.w;

                lon = ((data.x + 180) / 360) * canvas.width;
                lat = ((data.y + 90) / 180) * canvas.height;
                if (prevLat != lat && prevLon != lon) {
                    if (lon - prevLon > 0) {
                        x += 0.2;
                    }
                    else {
                        x -= 0.2;
                    }
                    if (lat - prevLat > 0) {
                        y += 0.2;
                    }
                    else {
                        y -= 0.2;
                    }
                    ctx.lineTo(x, y);
                    ctx.stroke();
                    prevLat = lat;
                    prevLon = lon;
                }
            });

        };
    });
</script>
